* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.875fr 0.125fr 1fr 1.25fr 1fr 0.125fr 0.875fr;
  grid-template-rows: 1.2fr 3fr 0.5fr 1fr 2.75fr 1fr 0.5fr 2.5fr;

  grid-template-areas:
    "a1 a1 a1 a1 a1 a1 a1"
    "a2 b2 b2 b2 b2 b2 g2"
    "a2 b3 b3 d3 e3 e3 g2"
    "a2 b4 c4 d3 e4 f4 g2"
    "a5 a5 c4 d3 e4 f5 f5"
    "a6 a6 c4 d3 e4 f6 f6"
    "a7 a7 a7 d3 e7 e7 e7"
    "a8 a8 a8 a8 a8 a8 a8";
}

.a1 {
  background-color: #fefefe;
  grid-area: a1;
}

.a2 {
  background-color: #fefefe;
  grid-area: a2;
}

.a5 {
  background-color: #fefefe;
  grid-area: a5;
}

.a6 {
  background-color: #fefefe;
  grid-area: a6;
}

.a7 {
  background-color: #fefefe;
  grid-area: a7;
  position: relative;
}

.a8 {
  background-color: #fefefe;
  grid-area: a8;
  position: relative;
}

.b2 {
  background-color: #fefefe;
  grid-area: b2;
}

.b3 {
  background-color: #fefefe;
  grid-area: b3;
}

.b4 {
  background-color: #fefefe;
  grid-area: b4;
}

.c4 {
  background-color: #fefefe;
  grid-area: c4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d3 {
  background-color: #fefefe;
  grid-area: d3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.e3 {
  background-color: #fefefe;
  grid-area: e3;
}

.e4 {
  background-color: #fefefe;
  grid-area: e4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.e7 {
  background-color: #fefefe;
  grid-area: e7;
}

.f4 {
  background-color: #fefefe;
  grid-area: f4;
}

.f5 {
  background-color: #fefefe;
  grid-area: f5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.f6 {
  background-color: #fefefe;
  grid-area: f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.g2 {
  background-color: #fefefe;
  grid-area: g2;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-bottom: 2px solid #acacac;
}

.a1 .nav-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.a1 .nav-buttons i {
  font-size: 30px;
}

.nav-buttons .ri-shopping-cart-line {
  height: 70px;
  width: 70px;
  display: flex;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.a1 .nav-bar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.a1 .nav-bar a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.a2-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.a2-img {
  padding: 0 0 5px 0;
  width: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.a2 img {
  width: 90%;
}

.a2 .text-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  justify-content: center;
  align-items: flex-start;
}

.a2 .text-box h4 {
  font-size: 13px;
}

.a2 .text-box h3 {
  line-height: 25px;
  font-size: 20px;
  letter-spacing: 2px;
}

.a5 .img-container {
  height: 100%;
  width: 95%;
  overflow: hidden;
  border-radius: 35px;
  background-image: url(https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2018%2F05%2Fwhite-rock-spring-summer-2018-editorial-14.jpg?w=1440&cbr=1&q=90&fit=max);
  background-size: cover;
  background-position: 0% 10%;
}

.a7-img {
  position: absolute;
  top: -70%;
}

.a8-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.a8-container .left-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  height: 100%;
  background-color: #fff;
}

.left-text p {
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}

.sign {
  width: 70%;
  height: 50%;
  background-image: url(./Sign.png);
  background-size: cover;
  background-position: 0% 50%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.center a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  background-color: #fff;
  padding: 20px 30px;
  border: 1px solid #c6c6c6;
  border-radius: 15px;
}

.right-text {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-text-container {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-left h4 {
  font-size: 50px;
  font-weight: 200;
}

.right-text .right-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-center .center-bottom p {
  font-size: 25px;
}

.ri-circle-fill {
  font-size: 10px;
}

.right-right {
  font-size: 70px;
}

.heading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading h1 {
  text-align: center;
  font-size: 78px;
}

.pink-flower {
  position: absolute;
  top: 30%;
  left: 35%;
}

.rose-flower {
  position: absolute;
  top: -10%;
  right: 5%;
}

.skew-rectangle {
  width: 20px;
  height: 30px;
  transform: skew(30deg);
  background-color: bisque;
  position: absolute;
  top: 20%;
  right: 35%;
}

.c4 .top-image {
  width: 95%;
  height: 35%;
  background-image: url(./hatmen.png);
  background-position: top;
  background-size: cover;
  border-radius: 35px;
}

.c4 .bottom-image {
  width: 95%;
  height: 60%;
  background-image: url(https://i0.wp.com/sidewalkhustle.com/wp-content/uploads/2016/09/golf-3.jpg?w=800&ssl=1);
  background-size: cover;
  border-radius: 35px;
}

.d3 .d3-img-container {
  width: 98%;
  height: 100%;
  background-color: #fff;
  background-image: url(./pinktees.jpg);
  background-size: cover;
  border-radius: 35px;
}

.d3-img-star {
  position: absolute;
  top: -8%;
}

.e4 .top-image {
  width: 95%;
  height: 60%;
  background-image: url(./violet-hoodie.jpg);
  background-size: cover;
  background-position: 0% 100%;
  border-radius: 35px;
}

.e4 .bottom-image {
  width: 95%;
  height: 35%;
  background-image: url(./hatmen.png);
  background-position: top;
  background-size: cover;
  border-radius: 35px;
}

.f5 .img-container {
  height: 100%;
  width: 95%;
  overflow: hidden;
  border-radius: 35px;
  background-image: url(./beanie.webp);
  background-size: cover;
  background-position: 0% 1%;
}

.f6-text {
  font-size: 25px;
}

.g2-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.g2-img {
  padding: 0 0 5px 0;
  width: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.g2 img {
  width: 90%;
}

.g2 .circle {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
